@import 'fonts.css';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none !important;
}


:root {
    --black: #313131;
    --ns-b: 'NotoSans-Bold';
    --ns-r: 'NotoSans-Regular';
}

.navbar {
    background-color: var(--black);
}

.navbar-nav {
    align-items: center;
}

.dropdown-toggle {
    padding: 0.25rem;
    transition: 0s;
}

.dropdown-toggle:hover {
    background-color: rgba(255, 255, 255, 0);
    border-color: rgba(255, 255, 255, 0);
    font-family: var(--ns-r);
}

.dropdown-menu {
    padding: 0.35rem;
    min-width: 100%;
}

.header__dropdown-link {
    padding: 0 0.25rem;
    font-size: 14px;
    font-family: var(--ns-r);
    line-height: 20px;
    letter-spacing: 0.05em;
    padding: 5px 12px 2px 12px;
    color: #ABABAB;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
}

.header__nav-dropdown {
    padding: 0;
}

.header__dropdown-link:hover {
    background-color: #FFFFFF;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
    color: var(--black);
}

.header__nav-btn {
    font-family: var(--ns-r);
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.05em;
    text-decoration: none;
    color: #fff;
}

.header__nav-btn:hover {
    color: #fff;
}

.nav-link:hover {
    color: #fff;
}

.nav-link:focus {
    color: #fff;
}

.header__navbar {
    padding: 15px 0;
}

.header__nav-link {
    font-family: var(--ns-r);
    color: #fff;
    font-size: 14px;
    line-height: 7px;
    letter-spacing: 0.07em;
}

.header__nav-link {
    margin-left: 30px;
}

.header__nav-phone {
    margin-left: 80px;
}

.header__nav-phoneicon,
.header__nav-user,
.header__nav-cart {
    font-size: 16px;
    margin-right: 7.5px;
}

.header__nav-phoneicon::before {
    content: '\f879';
}

.header__nav-user::before {
    content: '\f007';
}

.header__nav-cart::before {
    content: '\f07a';
}

.header__nav-icon::after {
    transform: rotate(180deg);
    transition: 0.5s;
    content: '\f078';
}

.header__nav-btn.show.header__nav-btn::after {
    transform: rotate(0deg);
}

.dropdown-menu[data-bs-popper] {
    margin-top: 15px;
}

.carousel-item.active {
    display: flex;
}

.carousel__title {
    max-width: 624px;
    width: 100%;
    font-family: var(--ns-r);
    font-size: 48px;
    font-weight: 600;
    line-height: 70px;
    letter-spacing: 0.05em;
    text-align: center;
}

.carousel__button {
    align-self: center;
    display: block;
    font-family: var(--ns-r);
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    padding: 13px 46px;
    width: 190px;
    background-color: var(--black);
    color: #FFFFFF;
    transition: 0.5s;
}

.carousel__button:hover {
    color: #FFFFFF;
}

.accordion__switch {
    border-radius: 50%;
    width: 10px !important;
    height: 10px !important;
    margin-left: 25px !important;
    background-color: #ABABAB !important;
    opacity: 1 !important;
}

.carousel-indicators .active {
    width: 13px !important;
    height: 13px !important;
    opacity: 1 !important;
    background-color: var(--black) !important;
}

.nav__menu-left .nav__menu-title {
    text-decoration: underline !important;
}

.main__about-search {
    width: 440px;
    padding: 16px 0px 16px 10px;
    border: 1px var(--black) solid;
    height: 50px;
    outline: none;
}

.main__about-search:focus {
    color: black;
}

.main__about-icon::before {
    content: '\f002';
}

.main__about-icon {
    font-size: 16px;
    margin-left: 15px;
    margin-right: 5px;
}

.main__about-link {
    font-family: var(--ns-r);
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    padding: 16px 17px 15px 0;
    background-color: var(--black);
    color: white;
    height: 50px;
    transition: 0.5s;
}

.main__about-link:hover {
    color: white;
}

.main__about-png {
    margin-right: 143px;
}

.main__about {
    margin-top: 18px;
}

.main__nav-content {
    margin-top: 35px;
}

.main__slider {
    margin-top: 50px;
}

.main__nav-link {
    display: block;
    font-family: var(--ns-r);
    font-size: 18px;
    letter-spacing: 0.05em;
    color: var(--black);
}

.main__nav-link:hover {
    color: var(--black);
}

.nav__left-list,
.nav__right-list {
    padding-left: 0 !important;
    margin: 0 !important;
}

.nav__menu-about {
    display: none;
    background: #FFFFFF;
    padding: 18px 10px 17px 20px;
    max-width: 300px;
    width: 100%;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
    margin-left: -35px;
    z-index: 10;
}

.main__nav-content li:hover .nav__menu-about {
    display: flex;
    justify-content: space-between;
}

.nav__menu-title {
    font-family: var(--ns-r);
    font-size: 16px;
    margin-bottom: 10px;
    letter-spacing: 0.05em;
}

.main__nav-content li {
    margin: 0 30px 0 0;
}

.nav__menu-link {
    display: block;
    font-family: var(--ns-r);
    font-size: 14px;
    font-weight: 300;
    color: var(--black);
    letter-spacing: 0.05em;
    line-height: 18px;
}

.nav__menu-link:hover {
    color: var(--black);
}

.nav__menu-left::before {
    content: '';
    position: absolute;
    height: 3px;
    width: 260px;
    background: var(--black);
    top: 0;

}

.main__items-suunto {
    background: url(../images/suunto.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 500px;
    padding: 15px;
    filter: drop-shadow(-10px 5px 4px rgba(0, 0, 0, 0.25));
}

.main__items-left,
.main__items-rem,
.main__items-mi {
    background: #F4F4F4;
}

.main__items {
    margin-top: 86px;
}

.main__items-airpods {
    background: url(../images/airpods.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 235px;
}

.main__items-sale {
    background-color: var(--black);
    padding: 19px 5px 18px 7px;
    border-radius: 50%;
    font-family: var(--ns-r);
    font-size: 20px;
    letter-spacing: 0.05em;
    color: #fff;
    text-align: center;
    display: block;
    width: 70px;
}

.main__items-airpods {
    padding: 20px;
}

.main__items-pb {
    background: url(../images/mipowerbank.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 235px;
    padding: 20px;
    filter: drop-shadow(-10px 0px 4px rgba(0, 0, 0, 0.15));
}

.main__items-remax {
    background: url(../images/remax.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 235px;
    padding: 20px;
}

.main__items-cards {
    margin-top: 30px;
}

.main__items-airpods {
    margin-left: 30px;
}

.main__items-mi {
    margin: 0 30px;
}

.main__items-link {
    margin-top: 30px !important;
    background-color: var(--black);
    padding: 12px 28px;
    color: white;
    font-family: var(--ns-r);
    display: block;
    width: 190px;
    height: 50px;
    text-align: center;
    margin: 0 auto;
    transition: 0.5s;
}

.main__content-phone .main__items-link {
    margin-top: 60px !important;
}

.main__items-link:hover {
    color: white;
}

.main__phone-card {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
}

.main__phone-card:nth-of-type(1) {
    background: url(../images/iphone.png);

}

.main__phone-card:nth-of-type(2) {
    background: url(../images/iphone1.png);
}

.main__phone-card:nth-of-type(3) {
    background: url(../images/iphone2.png);
}

.main__phone-card:nth-of-type(4) {
    background: url(../images/iphone3.png);
}

.main__phone-name {
    font-family: var(--ns-b);
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    text-align: center;
    color: var(--black);
}

.main__phone-price {
    font-family: var(--ns-r);
    font-size: 14px;
    font-weight: 300;
    line-height: 19px;
    text-align: center;
    color: var(--black);
}

.main__content-phone {
    margin-top: 70px;
}

.main__phone-title {
    font-family: var(--ns-r);
    font-size: 36px;
    font-weight: 600;
    line-height: 49px;
}

.main__pc-card {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
}

.main__pc-card:nth-of-type(1) {
    background: url(../images/laptop.png);

}

.main__pc-card:nth-of-type(2) {
    background: url(../images/laptop1.png);
}

.main__pc-card:nth-of-type(3) {
    background: url(../images/laptop2.png);
}

.main__pc-card:nth-of-type(4) {
    background: url(../images/laptop3.png);
}

.main__pc-name {
    font-family: var(--ns-b);
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    text-align: center;
    color: var(--black);
}

.main__pc-price {
    font-family: var(--ns-r);
    font-size: 14px;
    font-weight: 300;
    line-height: 19px;
    text-align: center;
    color: var(--black);
}

.main__content-pc {
    margin-top: 70px;
    margin-bottom: 70px;
}

.main__pc-title {
    font-family: var(--ns-r);
    font-size: 36px;
    font-weight: 600;
    line-height: 49px;
}

.main__content-ps {
    background: url(../images/ps5.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 500px;
}

.main__ps-logo {
    margin-bottom: 20px;
}
.carousel__img{
    width: 100%;
}
.main__ps-title {
    font-family: var(--ns-r);
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 65px;
}

.main__ps-button {
    background-color: var(--black);
    padding: 12px 28px;
    color: white;
    font-family: var(--ns-r);
    display: block;
    width: 190px;
    height: 50px;
    text-align: center;
    transition: 0.5s;
}

.main__ps-button:hover {
    color: white;
}

.main__ts-card {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
}

.main__ts-card:nth-of-type(1) {
    background: url(../images/swatch.png);

}

.main__ts-card:nth-of-type(2) {
    background: url(../images/airpods1.png);
}

.main__ts-card:nth-of-type(3) {
    background: url(../images/swatch1.png);
}

.main__ts-card:nth-of-type(4) {
    background: url(../images/cm.png);
}

.main__ts-name {
    font-family: var(--ns-b);
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    text-align: center;
    color: var(--black);
}

.main__ts-price {
    font-family: var(--ns-r);
    font-size: 14px;
    font-weight: 300;
    line-height: 19px;
    text-align: center;
    color: var(--black);
}

.main__content-ts {
    margin-top: 70px;
    margin-bottom: 70px;
}

.main__ts-title {
    font-family: var(--ns-r);
    font-size: 36px;
    font-weight: 600;
    line-height: 49px;
    margin-bottom: 30px;
}

.footer__content-icon:nth-of-type(1)::before {
    content: '\f3fe';
}

.footer__content-icon:nth-of-type(2)::before {
    content: '\f09a';
}

.footer__content-icon:nth-of-type(3)::before {
    content: '\f16d';
}

.footer {
    /* height: 230px; */
    background-color: var(--black);
}

.footer__content {
    padding-top: 30px !important;
    margin-bottom: 50px !important;
}

.footer__link {
    margin: 0 35px !important;
    margin-bottom: 45px;
    font-family: var(--ns-r);
    font-size: 18px;
    line-height: 25px;
    color: white;
}

.footer__link:hover {
    color: #fff;
}

.footer__input-text {
    width: 330px;
    height: 50px;
    border: 0;
    outline: 0;
    padding: 0 0 0 10px;
}

.footer__form-link {
    display: block;
    font-family: var(--ns-r);
    font-size: 18px;
    line-height: 25px;
    padding: 11px 59px 10px 59px;
    color: #fff;
    border: 1px solid #FFFFFF;
    transition: 0.5s;
}

.footer__form-link:hover {
    color: #fff;
}

.footer__form-text {
    margin-bottom: 5px !important;
    font-family: var(--ns-r);
    font-size: 18px;
    line-height: 25px;
    color: #fff;
}

.footer__links {
    margin-right: 155px;
    padding-bottom: 45px;
}

.footer__content-icon {
    font-size: 41px;
    color: #fff;
    margin: 0 12px !important;
    margin-top: 25px;
}

.carousel__button:hover,
.main__items-link:hover,
.main__ps-button:hover,
.footer__form-link:hover,
.main__about-link:hover {
    background: rgb(200, 223, 250);
    color: var(--black);
}
